/* Geral */
* {
    text-align: center;
    background-color: #f5f5f5;
    font-family: Tahoma;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.secao1 {
    padding: 50px;
}

.secao1 img {
    width: 190px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}